.i-icon {
  display: block
  width: 25px
  height: 25px
  cursor: pointer

  &:hover {
    opacity: .5
  }

  &.i-icon-2x {
    width: 50px
    height: 50px
  }

  &.i-icon-vr {
    background-image: url('./assets/vr.svg')
  }
}
